.search-results {
  height: 100%;
}

.search-results__chart {
  width: 100%;
  height: 100%;
}

.search-results__table-header {
  background-color: rgb(227, 228, 228);
  font-weight: 600;
}

.search-results__row {
  border-bottom: 1px solid rgb(227, 228, 228);
}
